[submodule "test_projects/megan-tu.github.io"]
	path = test_projects/megan-tu.github.io
	url = https://github.com/megan-tu/megan-tu.github.io
[submodule "test_projects/markdown-project"]
	path = test_projects/markdown-project
	url = https://github.com/megan-tu/markdown-project
[submodule "test/projects/project_webscraping"]
	path = test_projects/project_webscraping
	url = https://github.com/megan-tu/project_webscraping
