.env
venv
__pycache__
docsum/.coverage
.pytest_cache
dist/
cmc_csci040_MeganTu.egg-info/
build/lib/
.coverage
docsum/shanghai_communique.chinese.utf8
docsum/encoded.txt
Trump_tweets_graph.png
cmc_csci40_MeganTu.egg-info/
__init__.py
test_examples/